@font-face {
    font-family: 'VAG World';
    src: url(font.ttf);
}

html, body {
    font-family: 'VAG World';
    min-height: 100vh;
    background: linear-gradient(0deg, #0b0b16 0%, #242245 100%);
    color: #fff;
    margin: 0;
    padding: 0;
}
p, .button { font-size: 1.125em; }
p { margin: 0; line-height: 1.125em; }
.container {
    margin: 1em 1.5em;
}
.icon {
    position: absolute;
    border-radius: 100%;
    top: 0.5em;
    left: 0.5em;
    height: 2em;
}
img {
    height: 2em;
}
.thaThing {
    border-radius: 1em;
    background: #fff1;
    width: 80%;
    padding: 1em 1em;
    margin: 0em 0em 1em 0em;
}
.thaThing img {
    transform: translateY(0.5em);
}
.bg {
    background: linear-gradient(to bottom, #242245bb, #242245bb),
    url(https://cdn.discordapp.com/attachments/1099696156784738336/1100461451145138226/latest.png);
    background-position: center;
    background-size: 100%;
}
nav {
    background: #fff1;
    padding: 0.5em 2.75em;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0; padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.hoverableA:hover {
    color: #ddeeff;
    transition: 0.5s;
}
.button {
    padding: 0.4em 0.8em;
    background: #fff1;
    border-radius: 0.5em;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.button:hover {
    padding: 0.6em 1.1em;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
.spoiler {
    color: #262636;
    background-color: #262636;
    padding: 0.2em;
    border-radius: 0.3em;
    transition: 0.3s;
}
.spoiler:hover {
    color: #fff;
    transition: 0.3s;
}
.button-logo {
    width: 1.5em;
    height: 1.5em;
    transform: translateY(0.8em);
}
.pon {
    transform: translateY(0.5em);
}
.ava {
    border-radius: 100%;
    margin-right: 0.5em;
}
.r {
    margin-bottom: 0.6em;
}
